html{
    background: linear-gradient(0deg, #78C095 10.48%, #E1F9B0 100%);
    background-attachment: fixed;
    height:100%;
}
body{
    font-size: 20px;
    text-align: center;
}

#questions button {
    /* display: inline-block; */
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1.5%;
    width: 50%;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 100%;
}

#questions{
    margin:auto;
    width:50%;
    padding:10px;
    width:50%;
}


#Home{
    margin-top: 100px;
    color: #000000;
    font-size: 30px}

    